# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.htaccess
admin/index.html
apple-touch-icon-144x144-precomposed.png
apple-touch-icon-57x57-precomposed.png
apple-touch-icon-72x72-precomposed.png
apple-touch-icon-precomposed.png
apple-touch-icon.png
applets/Calculator.jar
assets/JHeagle.pdf
assets/syntax-highlighter/lang-apollo.js
assets/syntax-highlighter/lang-basic.js
assets/syntax-highlighter/lang-clj.js
assets/syntax-highlighter/lang-css.js
assets/syntax-highlighter/lang-dart.js
assets/syntax-highlighter/lang-erlang.js
assets/syntax-highlighter/lang-go.js
assets/syntax-highlighter/lang-hs.js
assets/syntax-highlighter/lang-lisp.js
assets/syntax-highlighter/lang-llvm.js
assets/syntax-highlighter/lang-lua.js
assets/syntax-highlighter/lang-matlab.js
assets/syntax-highlighter/lang-ml.js
assets/syntax-highlighter/lang-mumps.js
assets/syntax-highlighter/lang-n.js
assets/syntax-highlighter/lang-pascal.js
assets/syntax-highlighter/lang-proto.js
assets/syntax-highlighter/lang-r.js
assets/syntax-highlighter/lang-rd.js
assets/syntax-highlighter/lang-scala.js
assets/syntax-highlighter/lang-sql.js
assets/syntax-highlighter/lang-tcl.js
assets/syntax-highlighter/lang-tex.js
assets/syntax-highlighter/lang-vb.js
assets/syntax-highlighter/lang-vhdl.js
assets/syntax-highlighter/lang-wiki.js
assets/syntax-highlighter/lang-xq.js
assets/syntax-highlighter/lang-yaml.js
assets/syntax-highlighter/prettify.css
assets/syntax-highlighter/prettify.js
assets/syntax-highlighter/run_prettify.js
db/projects.json
favicon.ico
fonts/microsoft_uighur-webfont.eot
fonts/microsoft_uighur-webfont.svg
fonts/microsoft_uighur-webfont.ttf
fonts/microsoft_uighur-webfont.woff
humans.txt
js/respond.min.js
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/private/retriever/catalog.xml
nbproject/private/retriever/www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd
nbproject/project.properties
nbproject/project.xml
projects/php/addressbook/info.php
projects/php/addressbook/js/spin.min.js
projects/php/addressbook/js/vendor/html5shiv.min.js
projects/php/addressbook/js/vendor/jquery-1.11.0.min.js
projects/php/addressbook/nbproject/private/private.properties
projects/php/addressbook/nbproject/private/private.xml
projects/php/addressbook/nbproject/project.properties
projects/php/addressbook/nbproject/project.xml
projects/php/addressbook/resources/addressbook.sql
projects/php/addressbook/resources/data.csv
projects/php/addressbook/resources/dbInfo.php
projects/php/addressbook/resources/enhanced_argv_header.php
robots.txt
sitemap.xml
/joshuasite/nbproject/private/
/nbproject/private/
/projects/php/addressbook/nbproject/private/
.project